<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Prueba-Ansbile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Estamos usando apache instalado desde Ansible</h1>
		</div>
		
	
		<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tempora explicabo nobis aliquam neque soluta rem corporis qui et veritatis dolores officia quidem, accusantium odit repellat obcaecati totam perspiciatis ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam id deleniti vitae vel tempore neque, ipsa obcaecati fugiat recusandae dolor enim aliquam error unde nihil iusto et. Deleniti neque, nihil? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ullam fuga doloribus expedita laboriosam veritatis, impedit, saepe iste ipsam, doloremque accusamus dicta sequi? Soluta ducimus dolorem nihil at necessitatibus consequuntur.</p>				
	</div>
	

	<!-- JQuery-->
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>